[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "corev-llvm-project"]
	path = coredsl-to-llvm/llvm
	url = https://github.com/PhilippvK/corev-llvm-project.git
