[submodule "etiss_arch_riscv"]
	path = etiss_arch_riscv
	url = https://github.com/tum-ei-eda/etiss_arch_riscv.git
[submodule "coredsl-to-llvm"]
	path = coredsl-to-llvm
	url = ../coredsl-to-llvm.git
[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/llvm/llvm-project.git
