build
*.o
cdsl2llvm
cdsljit
.clangd
*.td
*.txt
*.c
*.cpp
*.hpp
!src/lib/*.cpp
!src/lib/*.c
!src/lib/*.cc
!src/lib/*.hpp
!src/lib/*.h

!src/CoreDSL2LLVM/*.cpp
!src/CoreDSL2LLVM/*.c
!src/CoreDSL2LLVM/*.cc
!src/CoreDSL2LLVM/*.hpp
!src/CoreDSL2LLVM/*.h

!src/CoreDSLJIT/*.cpp
!src/CoreDSLJIT/*.c
!src/CoreDSLJIT/*.cc
!src/CoreDSLJIT/*.hpp
!src/CoreDSLJIT/*.h

.vscode
!core_descs/XCoreVSIMD.td
!core_descs/XCoreVSIMDInstrFormat.td
!core_descs/XCoreVALU.td
!core_descs/XCoreVALUInstrFormat.td
!core_descs/XCoreVSIMD_manual.td
